<div class="contact-container">
  <h1>Contact Us</h1>
</br>


	<div class="container contact-fluid-container">
	  <div class="row">  

	  	<div class="col-md-6">

			<div class="contact-boxes">
			<h4>Found a bug? Have a suggestion? Want some stickers? We'd love to chat.</h4>
			</br>
	
			<h2>Email</h2>
				<p>info@mentormentored.org</p>
			</br>
			</div>
			
		</div>
	   

		<div class="col-md-6">

			<div class="contact-boxes">
				<div class='logo'>
			        <%= image_tag("whitenetwork_cutout5.png", alt: "logo-image", class:'img-responsive logo') %>
			    </div>
			</div>
		</div>
	  </div>
	</div>

</br>

</br>

</br>

</br>

</div>
