<div class="faq-container">
  <h1>Frequently Answered Questions</h1>

  <div class="panel panel-default">
  	 <div class="panel-heading">
  	 	  <h3 class="panel-title">
			How is this different than other places to learn from?
		  </h3>
	 </div>
    <div class="panel-body">
    		<p>What makes MM diferent from tutoring centers is that we take both the mentor and the mentee's schedules and preferences into account when making matches. Most tutoring centers restrict each party's schedule to the office's hours. Mentor Mentored is also over the internet, meaning that someone from Florida can mentor someone from New Jersey just as easily as someone else from Florida. Lastly, anybody can sign up as a Mentor in any subject, so
    		</p>
    </div>
  </div>

  <div class="panel panel-default">
  	 <div class="panel-heading">
  	 	  <h3 class="panel-title">
			What if I want to tutor someone?
		  </h3>
	 </div>
    <div class="panel-body">
    		<p>We use the term "mentor" because it encompasses all forms of education and guidance. Whether you want to tutor, advise, mentor, or train someone, Mentor Mentored will find you somebody to help.
    		</p>
    </div>
  </div>
 

 </div>