@import "bootstrap";

/*------ Google font imports -----*/
@import url(http://fonts.googleapis.com/css?family=Lobster|Open+Sans+Condensed:300);



/*------------layout-----------------*/

.alert {
	margin-top: 60px;
	margin-bottom: 0px;
}

/*-------- index page -------------*/

.index-box {
	padding-top: 200px;
}

/*-------- profile page / users show ---------*/

.profilebox {
	padding-top: 100px;
}

.profile-title-box {
	margin-left: auto;
    margin-right: auto;
	text-align:center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	font-size: 25px;
}

.profile-container {
	padding-bottom: 70px;
	padding-top: 70px;
}

.profile-image-box {
	margin-left: auto;
    margin-right: auto;
	text-align:center;
}

.profile-info-box {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 25px;
}

.profile-extra-box {
	margin-left: auto;
    margin-right: auto;
	text-align:center;
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	font-size: 25px;
	padding-top: 5px;
	padding-bottom: 30px;
}


/*------edit profile -------*/

.editprofilebox {
	margin-top: 100px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.editprofilebox > h1 {
	margin-left: auto;
    margin-right: auto;
	text-align:center;
}

.edit-fluid-container {
	margin-left: auto;
	margin-right: auto;	
	width: 1000px;
	margin-top: 70px;
}

.edit-field {
	width: 250px;
	margin-bottom: 0px;
}

.edit-fields-box .form-control {
	margin-bottom: 0px;
	font-size: 14px;
}


.time-box {
	width: 100px;
}

.time-checkbox {
	text-align: left;
}

.time-box {
	width: 105px;
	margin-right: 10px;
	margin-left: 0px;
}

.time-box-container {
	padding: 0px;
}

.time-box-container .time-box{
	padding: 0px;
	width: 105px;
	margin-right: 10px;
	margin-left: 0px;
}

.time-box-each {
	margin-top: 10px;
	font-size: 12px;
}

.titles-edit {
	font-size: 16px;
	font-weight: normal;
	margin-top: 10px;
	margin-bottom: 0px;
}

.submit-edit {
	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;
	text-align:center;
	margin-bottom: 20px;
}

.bio {
	margin-left: 15px;
}

/*----index page-----*/

.index-user-container {
	
}

.index-picture {

}

.index-info-box {

}


/*----header-----*/


.navbar {
	margin: 0px;
	border-bottom: 0px;
}

.navbar-inverse {
	background-color: #50b4c3;
}
.navbar-inverse .navbar-header .navbar-brand {
  color: white;
  padding-left: 25px;
  padding-top: 10px;
  font-size: 36px;
  font-family: 'Lobster', cursive;
}

.navbar-container-right .navbar-right > li > a {
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 16px;
	font-weight: bold; 
}

.navbar-container-right .navbar-right > li > a:hover {
	color: black;
}

.container-fluid {
	padding-top: 10px;
}


/*---- footer ------*/

.footer {
	background-color: #50b4c3;
	padding-top: 40px;
	padding-bottom: 30px;
}

.bottom-container {
	margin-left: auto;
    margin-right: auto;
	text-align:center;
}


.footer-img {
	padding-left: 15px;
	padding-right: 15px;
	-webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out; 
    border-radius: 50%;
}


.footer-img:hover{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}

.bottom {
  color: white;
  padding-top: 20px;
  font-size: 36px;
  font-family: 'Lobster', cursive;
}


/*---------------Landing---------------------*/

/*----banner----*/

.banner{
    background-image: image-url('fifth.png');
    height: 680px;
	margin-top: 0px;
    background-attachment:fixed;
    background-size:cover;
}

.banner-content {
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif; 
	padding-top: 80px;
	padding-bottom: 150px;
	color: white;
}

.logo {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.opening-text {
	padding-top: 45px;
	font-size: 45px;
	text-shadow: 1px 1px 1px #666666;
	font-family: 'Open Sans Condensed', sans-serif;
	padding-left: 10px;
	padding-right: 10px;
}

.opening-text-name {
	font-size: 56px;
  	font-family: 'Lobster', cursive;
  	padding-left: 10px;
	padding-right: 10px;
}

.sub-opening-text {
	font-size: 35px;
	text-shadow: 1px 1px 1px #666666;
	padding-left: 10px;
	padding-right: 10px;
}

.sign-up-buttons {
	padding-top: 25px;
	font-weight: bold;
}

.sign-in-button-container1 {
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
	background-color: #50b4c3;
}

.sign-in-button-container1 > a {
	color: white;
}

.sign-in-button-container2 {
	padding-left: 20px;
	padding-right: 20px;
	font-weight: bold;
}

/*---- features ------*/


.big-container {
	background-color: white;
}

.mid-text-container {
	text-align: center;
	padding-top: 30px;
	padding-bottom: 50px;
	font-family: 'Lato', sans-serif;
	font-size: 25px;
}

.media-img{   
    -webkit-transition: -webkit-transform .8s ease-in-out;
    -ms-transition: -ms-transform .8s ease-in-out;
    transition: transform .8s ease-in-out; 
    border-radius: 50%; 
    padding-left: 15px;
	padding-right: 15px;
}


.media-img:hover{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}


.service-box {
    text-align:center;
    padding-bottom: 70px;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
}

.service-box h2 {
	padding-top: 10px;
	font-weight: bold;
}

.service-box p {
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	font-weight: normal;
}

/*---- subscription box --------*/

.subscription-section {
	background-color: #50b4c3;
	padding-top: 80px;
	padding-bottom: 80px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 30px;
}

.container-form-image {
	text-align: center !important;
	vertical-align: middle;
}

.subscription-img{   
	margin: 0 auto;
}

.form-subscribe {
	width: 45%;
	margin: 0 auto;
	padding-top: 20px;
}

.newsletter-form-content {
	color: #ffffff;
	text-align: center !important;
}

.form-control {
	margin-bottom: 20px;
	font-size: 18px;
}

.newsletter-button {
	width: 100%;
	font-weight: bold;
}

/*---- Image break ----*/

.image-break{
    background-image: image-url('fifth.png');
    height: 330px;
    background-attachment:fixed;
    background-size:cover;
    color: white;
  	padding-top: 50px;
  	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
}



/*---- FAQ Page -----*/

.faq-container {
	margin-top: 70px;
	padding-bottom: 20px;
}

.faq-container > h1 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans Condensed', sans-serif;
	padding-top: 30px;
	padding-bottom: 20px;
}

.panel-title {
	color: #50b4c3;
}

.panel-default {
	margin-left: 30px;
	margin-right: 30px;;
}

/*---- About Page -----*/

.about-container {
	margin-top: 70px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.about-container > h1 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans Condensed', sans-serif;
	padding-top: 30px;
	padding-bottom: 20px;
}

.about-profile-containers {
	width: 500px;
	margin-bottom: 20px;
    font-size: 14px; 
}

.about-fluid-container {
	margin-left: auto;
	margin-right: auto;	
	width: 1200px;
}

/*---- Contact Page -----*/

.contact-container {
	margin-top: 70px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.contact-container > h1 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans Condensed', sans-serif;
	padding-top: 30px;
	padding-bottom: 20px;
}

.contact-boxes {
	width: 500px;
	margin-bottom: 20px;
    font-size: 14px; 
}

.contact-fluid-container {
	margin-left: auto;
	margin-right: auto;	
	width: 1200px;
}

/*----- Sign in ------*/

.sign-in-box {
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;	
	width: 300px;
	padding-bottom: 50px;
}

.sign-in-form {
	padding-top: 25px;
}

.remember-box {
	padding-top: 20px;
}

/*----- Registration ------*/

.registration-box {
	margin-top: 70px;
	margin-left: auto;
	margin-right: auto;	
	width: 300px;
	padding-bottom: 50px;
}

.registration-form {
	padding-top: 25px;
}

/*---- Search/Index Page -----*/

.searchbox {
	margin-top: 70px;
	padding-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
}

.searchbox > h1 {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans Condensed', sans-serif;
	padding-top: 30px;
	padding-bottom: 20px;
}

.search-fluid-container {
	margin-left: auto;
	margin-right: auto;	
	width: 1200px;
}

.search-fields-boxes {

}

.search-result-boxes {
	margin-left: 90px;
}

.formstyle {
	width: 250px;
}

.search-button {
	margin-bottom: 30px;
}




