<footer class="footer">
  <div class="bottom-container">
      <div class="container-fluid">
        <div class="random">

                <div class="row footer-row">
                    <div class="footer-box col-sm-12">
                        <div class="social-links">
                            <%= link_to image_tag('mail-white.png', id: 'blah', class: 'footer-img', alt: 'About'), 'contact_path' %>
                            <%= link_to image_tag('facebook-white.png', id: 'blah', class: 'footer-img', alt: 'About'), 'https://www.facebook.com/MentorMentored' %>
                            <%= link_to image_tag('twitter-white.png', id: 'blah', class: 'footer-img', alt: 'About'), 'https://twitter.com/MentorMentored' %>
                        </div>
                    </div>
              
               </div>

      </div>
    </div>


                  <div class="bottom">
                      <p>© 2014 MentorMentored</p>
                  </div>


  </div>

</footer>